body {
  background: rgb(204, 204, 204);
}

.page {
  background: white;
  height: 100%;
  display: block;
  margin: 0 auto 5mm;
  box-shadow: 0 0 5mm rgba(0, 0, 0, 0.5);
}

.subpage {
  height: 100%;
  min-height: 297mm;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page_breaker {
  position: absolute;
  border: 1px dashed gray;
  width: 55%;   
}